extends ../layout

block contentFluid
  .col-md-4.offset-md-1
    h1.main-title #{title}

block content
  +backBtn({href: `/users`})
  form(action=`/users/${user.id}/edit?_method=PATCH` method="POST" class="container")
    input(id="data-id" class="form-control" type="hidden" name="id" value=`${user.id}`)

    .form-row
      .form-group.col-md-4.mx-auto
        label(for="firstname") Firstname
        input(id="firstname" class="form-control" type="text" name="firstname" aria-description="firstnameHelp" value=`${user.firstname}`)
    
    .form-row
      .form-group.col-md-4.mx-auto
        label(for="lastname") Lastname
        input(id="lastname" class="form-control" type="text" name="lastname" aria-description="lastnameHelp" value=`${user.lastname}`)

    .form-row
      .form-group.col-md-4.mx-auto
        hr
        h5 Photo Section

    if photos.length > 0
      each photo in photos
        +photoForm(photo.imageUrl)(photoid=`${photo.id}`)
      +emptyPhotoForm
    else
      +emptyPhotoForm
      +emptyPhotoForm
    
    .form-row
      .form-group.col-md-4.offset-md-4
        button(class="btn btn-success" type="submit") Submit
