extends ../layout

block contentFluid
  .col-md-4.offset-md-1
    h1.main-title #{title}

block content
  .col-md.text-justify
    div.btn-group
      a.btn.btn-secondary.mb-2(href="/users") Back
  .col-md.text-justify
    table.table
      thead
        tr
          th(scope="col") #
          th(scope="col") Firstname
          th(scope="col") Lastname
          th(scope="col" class="text-right") Actions
      tbody
        tr
          td(scope="row")= user.id
          td(scope="row")= user.firstname
          td(scope="row")= user.lastname
          td(scope="row")
            .clearfix
              div(class="btn-group float-right" role="group" aria-label="edit field")
                a(href=`/users/${user.id}/edit` class="btn btn-warning") Edit
                form(method="POST" action=`/users/${user.id}/delete?_method=DELETE` class="btn-group")
                  button(type="Submit" class="btn btn-danger") Delete
        tr
          td(scope="row" colspan="4")
            h5 #{user.firstname} #{user.lastname} photos
        
        if user.photos.length > 0
          each photo in user.photos
            tr
              td(scope="row") #{photo.id}
              td(scope="row" colspan="3") #{photo.imageUrl}
          else
            tr
              td(colspan="4" scope="row") No Photos
