extends ../layout

block contentFluid
  .col-md-4.offset-md-1
    h1.main-title #{title}

block content
  +buttonMixin({href:'/users'})
  
  .col-md.text-justify
    table.table
      thead
        tr
          th(scope="col") #
          th(scope="col") Firstname
          th(scope="col") Lastname
          th(scope="col" class="text-center") Actions
      tbody
        tr
          td(scope="row")= user.id
          td(scope="row")= user.firstname
          td(scope="row")= user.lastname
          td(scope="row" class="text-center")
            div(class="btn-group" role="group" aria-label="edit field")
              a(href=`/users/${user.id}/edit` class="btn btn-warning")
                i.fas.fa-pen
              form(method="POST" action=`/users/${user.id}/delete?_method=DELETE` class="btn-group")
                button(type="Submit" class="btn btn-danger")
                  i.fas.fa-times
        tr
          td(scope="row" colspan="4")
            h5 #{user.firstname} #{user.lastname} Fotos
        
        if user.photos
          each photo in user.photos
            tr
              td(scope="row") #{photo.id}
              td(scope="row" colspan="3") #{photo.imageUrl}
        else
          tr
            td(colspan="4" scope="row") No Photos
