mixin inputMixin(obj)
  .form-row
    .input-group.col-md-4.mx-auto
      input(
        type="hidden"
        name=`photo[${obj.photoid}]`
        value=`${obj.photoid}`
      )
      input(
        id=`${obj.photoid}`
        class="form-control mb-2"
        name=`photo[${obj.photoid}]`
        type="text"
        placeholder="http://add-your-photo-here.url"
        value=`${obj.imageUrl}`
      )
      input(
        type="hidden"
        name=`photo[${obj.photoid}]`
        value=`${obj.userid}`
      )
      .input-group-append
        a(href=`/photos/delete/${obj.photoid}` class="btn btn-danger mb-2")
          i.fas.fa-times
