mixin inputMixin(photo)
  - var photoid = attributes.photoid
  .form-row
    .input-group.col-md-4.mx-auto
      input(
        id!=attributes.id
        class="form-control mb-2"
        name="photos[]"
        type="text"
        placeholder="http://add-your-photo-here.url"
        value=photo
      )
      
      .input-group-append
        a(href=`/photos/delete/${photoid}` class="btn btn-danger mb-2")
          i.fas.fa-times
