extends layout

block content
    .container
        .col-md-4.text-justify
            h1.main-title #{title}
            p.main-message #{message}
            div.btn-group
                a.btn.btn-primary.mb-2(href="/users/add") Add User
            ul(class="list-group")
            each user in users
                li(class="list-group-item")
                    div.clearfix
                        div.float-left
                            a(href=`/users/${user.id}`)= user.name + ' ' + user.lastname
                        div(class="btn-group float-right" role="group" aria-label="edit field")
                            a(href=`/users/${user.id}/edit` class="btn btn-danger") Edit
                            form(method="POST" action=`/users/${user.id}/delete?_method=DELETE`)
                                button(class="btn btn-danger") Delete